<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <!--========== Bootstrap ==========-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://d33wubrfki0l68.cloudfront.net/css/68818763319cf667ed141dc03e654e8db3424772/assets/css/animate.min.css' />

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="assets/css/styles.css">

  <link rel="shortcut icon" href="./assets/img/ico.png" type="image/x-icon">

  <title>Hoshin Academy</title>
</head>

<body>
  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-up-arrow-alt scrolltop__icon'></i>
  </a>

  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
    <nav class="nav bd-container">
      <a href="#"><img class="nav__logo" src="./assets/img/hoshin-blackLogo.png" alt=""></a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
          <li class="nav__item"><a href="#share" class="nav__link">Share</a></li>
          <li class="nav__item"><a href="#decoration" class="nav__link">Decorations</a></li>
          <li class="nav__item"><a href="#accessory" class="nav__link">Accessory</a></li>

          <li class="nav__item">
            <div id="app">
              <div class="d-flex">


                <a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"><button class="btn btn-light" style="margin-right: 1rem ; ">LogIn
                  </button></a>
                <a href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                  aria-controls="offcanvasRight" style="color: #EED297;"> <button class="btn btn-light"
                    style="margin-right: 1rem ; "> Sign Up </button></a>



                <!--------- offcanvas ---------->

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                  aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header">

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div class="d-lg-flex half">
                      <div class="container">
                        <div class="row align-items-center justify-content-center">
                          <div>
                            <div class="mb-4">
                              <h3>Sign In</h3>
                            </div>
                            <form action="#" method="post" @submit.prevent="ingreso">
                              <div class="form-group first">
                                <label for="username">Email</label>
                                <input v-model="email" type="email" class="form-control" id="exampleInputEmail1"
                                  aria-describedby="emailHelp">
                              </div>
                              <div class="form-group last mb-3">
                                <label for="contraseña">Password</label>
                                <input v-model="contraseña" type="password" class="form-control"
                                  id="exampleInputPassword1">
                              </div>
                              <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                  <input type="checkbox" checked="checked" />
                                  <div class="control__indicator"></div>
                                </label>
                              </div>
                              <div class="d-flex justify-content-center">
                                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                                <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                                  aria-controls="offcanvasRight"><input type="" value="Register"
                                    class="btn btn-block btn-danger"></a>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="d-lg-flex half">
                    <div class="container">
                      <div class="row align-items-center justify-content-center">
                        <div>
                          <div class="mb-4">
                            <h3>Register</h3>
                          </div>
                          <form action="#" method="post" @submit.prevent="registro">
                            <div class="form-group first">
                              <label for="username">First Name</label>
                              <input v-model="primerNombre" type="text" class="form-control" id="exampleInputPassword1"
                                required>
                            </div>
                            <div class="form-group last">
                              <label for="username">Last Name</label>
                              <input v-model="apellido" type="text" class="form-control" id="exampleInputPassword1"
                                required>
                            </div>
                            <div class="form-group first">
                              <label for="username">Email</label>
                              <input v-model="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>
                            </div>
                            <div class="form-group last mb-3">
                              <label for="contraseña">Password</label>
                              <input v-model="contraseña" type="password" class="form-control" id="exampleInputPassword1"
                                required>
                            </div>
                            <div class="d-flex justify-content-center">
                              <input type="submit" value="Register" class="btn btn-block btn-danger">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li><i class='bx bx-toggle-left change-theme' id="theme-button"></i></li>
        </ul>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
      </div>

    </nav>
  </header>

  <main class="l-main">
    <!--========== HOME ==========-->

    <section class="home" id="home">

      <div class="home__container  bd-grid">


        <div class="home__data">
          <div >
            <div class="home__datatitle">
              <img src="./assets/img/brandmark-design.png" alt="">
              <div>
                <h1 class="home__title">HOSHIN</h1>
                <h2><span class="home__subtitle typed"></span></h2>


              </div>
            </div>
            <div class="home__desc">
              <p class="home__description">Aprenda a programar creando ideas para el mundo real</p>
              <a href="#" class="button">Empecemos</a>
            </div>
          </div>
        </div>
    </section>

    <!--========== SHARE ==========-->
    <section class="share section bd-container" id="share">
      <div class="share__container bd-grid">
        <div class="share__data">
          <h2 class="section-title-center">Sharing Is The Best Gift <br> You Can Give</h2>
          <p class="share__description">Sharing these holidays is the best gift you can give, give a present
            or share your love with the people you love the most and celebrate with great happiness.</p>
          <a href="#" class="button">Send a Gift</a>
        </div>

        <div class="share__img">
          <img src="assets/img/shared.png" alt="">
        </div>
      </div>
    </section>

    <!--========== DECORATION ==========-->
    <section class="decoration section bd-container" id="decoration">
      <h2 class="section-title">Elija su recorrido de aprendizaje </h2>
      <div class="decoration__container bd-grid">
        <div class="decoration__data">
          <img src="./assets/img/logo_java.png" alt="" class="decoration__img">
          <h3 class="decoration__title">JAVA</h3>
          <div class="d-flex flex-column">
            <p >Más de 10 proyectos
            </p>
            <p >
              Más de 130 temas
            </p>
            <p >
              Más de 90 horas
            </p>
          </div>
        </div>

        <div class="decoration__data">
          <img src="./assets/img/logo_java.png" alt="" class="decoration__img">
          <h3 class="decoration__title">JAVA</h3>
          <div class="d-flex flex-column">
            <p >Más de 20 proyectos
            </p>
            <p >
              Más de 100 temas
            </p>
            <p >
              Más de 100 horas
            </p>
          </div>
        </div>

        <div class="decoration__data">
          <img src="./assets/img/logo_python.png" alt="" class="decoration__img">
          <h3 class="decoration__title">Python</h3>
          
          <p><a href="#" data-toggle="modal" data-target="#demoModalph" class="btn animated fadeIn btn-cta btn-cstm-light">Programa</a></p>
        </div>
         <!-- Modal -->
         <div class="modal fade auto-off" id="demoModalph" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
          <div class="modal-dialog animated zoomInDown modal-dialog-centered" role="document">
            <div class="modal-content">
      
              <div class="container-fluid">
                <button type="button" class="close button-modal" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <!-- <div class="row">
                  <div class="col-md-12 m-h-20 bg-img rounded-left" style="background-image: url('https://images.unsplash.com/photo-1525097596740-cb2a70e07e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80')"></div>
                  <div class="col-md-12 text-center py-5 px-sm-5 ">
                    <h2>Animated Modal using animate.css</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    
                  </div>
                </div> -->
                <div class="containers">
                  <div class="card">
                     <div class="card__image-container">
                       <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
                    </div>
                      
                      <svg class="card__svg" viewBox="0 0 800 500">
                
                        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
                        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                      </svg>
                    
                     <div class="card__content">
                       <h1 class="card__title">Lorem ipsum</h1>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolor praesentium at quod autem omnis, amet eaque unde perspiciatis adipisci possimus quam facere illo et quisquam quia earum nesciunt porro.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

        <div class="decoration__data">
          <img src="./assets/img/logo_python.png" alt="" class="decoration__img">
          <h3 class="decoration__title">Python</h3>
          <a href="#" >Go Shopping</a>
        </div>
      </div>
    </section>

    <!--========== ACCESSORIES ==========-->
    <section class="accessory section bd-container" id="accessory">
      <h2 class="section-title">New Christmas <br> Accessories</h2>

      <div class="accessory__container bd-grid">
        <div class="accessory__content">
          <img src="assets/img/accessory1.png" alt="" class="accessory__img">
          <h3 class="accessory__title">Snow Globe</h3>
          <span class="accessory__category">Accessory</span>
          <span class="accessory__preci">$9.45</span>
          <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
          <img src="assets/img/accessory2.png" alt="" class="accessory__img">
          <h3 class="accessory__title">Candy</h3>
          <span class="accessory__category">Accessory</span>
          <span class="accessory__preci">$2.52</span>
          <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
          <img src="assets/img/accessory3.png" alt="" class="accessory__img">
          <h3 class="accessory__title">Angel</h3>
          <span class="accessory__category">Accessory</span>
          <span class="accessory__preci">$13.15</span>
          <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
          <img src="assets/img/accessory4.png" alt="" class="accessory__img">
          <h3 class="accessory__title">Sphere</h3>
          <span class="accessory__category">Accessory</span>
          <span class="accessory__preci">$4.25</span>
          <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>

        <div class="accessory__content">
          <img src="assets/img/accessory5.png" alt="" class="accessory__img">
          <h3 class="accessory__title">Surprise gift</h3>
          <span class="accessory__category">Accessory</span>
          <span class="accessory__preci">$7.99</span>
          <a href="#" class="button accessory__button"><i class='bx bx-heart'></i></a>
        </div>
      </div>
    </section>

    <!--========== SEND GIFT ==========-->
    <section class="send section">
      <div class="send__container bd-container bd-grid">
        <div class="send__content">
          <h2 class="section-title-center send__title">Send Gift Now</h2>
          <p class="send__description">Start giving away before the holidays are over. Write the home address
            of the person who will send the gift.</p>
          <form action="">
            <div class="send__direction">
              <input type="text" placeholder="House address" class="send__input">
              <a href="#" class="button">Send</a>
            </div>
          </form>
        </div>

        <div class="send__img">
          <img src="assets/img/send.png" alt="">
        </div>
      </div>
    </section>
  </main>

  <!--========== FOOTER ==========-->
  <footer class="footer section">
    <div class="footer__container bd-container bd-grid">
      <div class="footer__content">
        <h3 class="footer__title">
          <a href="#" class="footer__logo">Christmas Gift</a>
        </h3>
        <p class="footer__description">I sent a gift and it gives <br> happiness</p>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Our Services</h3>
        <ul>
          <li><a href="#" class="footer__link">Pricing </a></li>
          <li><a href="#" class="footer__link">Discounts</a></li>
          <li><a href="#" class="footer__link">Shipping mode</a></li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Our Company</h3>
        <ul>
          <li><a href="#" class="footer__link">Blog</a></li>
          <li><a href="#" class="footer__link">About us</a></li>
          <li><a href="#" class="footer__link">Our mision</a></li>
        </ul>
      </div>

      <div class="footer__content">
        <h3 class="footer__title">Social</h3>
        <a href="#" class="footer__social"><i class='bx bxl-facebook-circle '></i></a>
        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
        <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
      </div>
    </div>

    <p class="footer__copy">&#169; 2021 Bedimcode. All right reserved</p>
  </footer>

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
  <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
  <script type='text/javascript'></script>
  <!--========== SCROLL REVEAL ==========-->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!--========== AUTO TYPING ==========-->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

  <!--========== Bootstrap ==========-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <!--========== AXIOS ==========-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!--========== VUE ==========-->
  <script src="https://unpkg.com/vue@3"></script>

  <!--========== MAIN JS ==========-->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/login.js"></script>

  <!-- ALERTAS -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>>


</body>

</html>